<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.merchantlisting_module">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_merchantlisting_module">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:theme="@style/AppTheme">
        <activity android:name=".MerchantListingActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.example.merchantlisting_module.MerchantListingActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>


</manifest>

